@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --themeColor: #d9d9d9;
    --themeSecondaryColor: #ffffff;
    --titleColor: #000000;
    --paragraphColor: #000000;
    --iconColor: #d9d9d9;
    --bodyColor: #fcfcfc;
    --body-filter: brightness(0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --themeColor: #2a2a2a;
        --themeSecondaryColor: #000000;
        --titleColor: #ffffff;
        --paragraphColor: #ffffff;
        --iconColor: #ffffff;
        --bodyColor: #ffffff;
        --body-filter: brightness(0.5);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bodyColor);
    backdrop-filter: var(--body-filter);

    a {
        text-decoration: none;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.resume-main {
    display: flex;
}

.lhs {
    background-color: var(--themeColor);
    flex: 1;
    padding: 0 15px 40px;

    .profile-pic {
        text-align: center;
        margin: 40px;

        img {
            width: 250px;
            border-radius: 5px;
        }
    }

    .objective-content {
        p {
            color: var(--paragraphColor);
            text-align: justify;
            margin: 0;
        }
    }

    .technical-content {
        h4 {
            font-size: 24px;
            font-weight: 900;
            margin: 30px 0 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--titleColor);
            background-color: var(--themeColor);
            position: sticky;
            top: 0;
        }

        ul {
            padding-left: 30px;

            li {
                &::marker {
                    color: var(--paragraphColor);
                }

                p {
                    color: var(--paragraphColor)
                }
            }
        }
    }

}

.rhs {
    background: var(--themeSecondaryColor);

    a {
        text-decoration: none;
    }

    flex: 2;
    padding: 40px 15px 40px;

    .desgn-title {
        //   position: relative;
        display: flex;
        align-items: center;
        column-gap: 35px;
        flex-wrap: nowrap;

        h3 {
            margin: 0;
            letter-spacing: 4px;
            font-size: 15px;
            color: var(--titleColor);
            white-space: nowrap;
        }

        span {
            background-color: var(--iconColor);
            height: 3px;
            width: 100%;
        }
    }

    .name {
        h1 {
            font-weight: 900;
            font-size: 70px;
            margin: 15px 0;
            letter-spacing: 5px;
            color: var(--titleColor);

        }
    }

    .contact-strip {
        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
        flex-wrap: wrap;

        &-details {
            .top {
                font-weight: 900;
                display: flex;
                align-items: center;
                column-gap: 3px;

                span {
                    padding-right: 5px;
                }

                span.phone {
                    color: green;
                }

                span.mail {
                    color: blue;
                }

                span.location {
                    color: red;
                }

                h5 {
                    text-transform: uppercase;
                    color: var(--titleColor);
                    margin: 0;
                }
            }

            .bottom {
                a {
                    text-decoration: none;
                    color: var(--paragraphColor);
                }
            }
        }
    }

    .education-details {
        &-main-title {
            h4 {
                font-size: 24px;
                font-weight: 900;
                margin: 30px 0 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: var(--titleColor);

            }

            p {
                color: var(--paragraphColor);
            }
        }

        &-content {
            padding-left: 50px;
            margin-bottom: 20px;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            gap: 30px;

            &::after {
                position: absolute;
                content: " ";
                width: 3px;
                height: calc(100% + 18px);
                background-color: var(--iconColor);
                top: 21px;
                bottom: 0;
                z-index: 1;
                left: 24px;
            }

            &:last-child::after {
                display: none;
            }

            .course-time {
                flex: 1;

                h4 {
                    background-color: var(--themeSecondaryColor);
                    color: var(--titleColor);
                    font-size: 24px;
                    font-weight: 900;
                    margin: 0 0 5px 0;
                    text-transform: uppercase;
                    position: relative;
                    white-space: nowrap;
                    position: sticky;
                    top: 0;

                    &::before {
                        position: absolute;
                        content: ' ';
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background-color: var(--iconColor);
                        left: -33px;
                        bottom: 6px;
                    }
                }

                p+p {
                    margin-top: 10px;
                }
            }

            .course-name {
                flex: 2;

                h4 {
                    font-size: 24px;
                    font-weight: 900;
                    margin: 0 0 5px 0;
                    position: relative;
                    color: var(--titleColor);

                    span {
                        font-size: 20px;
                    }
                }
            }

            p {
                margin: 0;
                color: var(--paragraphColor);text-align: justify;

            }
        }
    }
}

.personal-details {


    &-main-title {
        h4 {
            font-size: 24px;
            font-weight: 900;
            margin: 0 0 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--titleColor);
        }
    }

    &-content {
        display: flex;
        align-items: flex-start;
        padding-left: 50px;
    }

    &-title {
        flex: 5;

        h4 {
            margin: 0;
            color: var(--titleColor);
        }
    }

    &-seperator {
        flex: 1;

        strong {
            color: var(--titleColor);

        }
    }

    &-value {
        flex: 9;

        p {
            margin: 0;
            color: var(--paragraphColor);
        }
    }
}

@media (min-width:0px) and (max-width:999px) {
    .container {
        width: 100%;
    }

    .resume-main {
        flex-direction: column-reverse;
    }
}

@media (min-width:0px) and (max-width:768px) {
    .lhs .profile-pic img {
        width: 100%;
    }

    .rhs .education-details-content {
        flex-direction: column;
    }
}